/* Styles for overlay modal */
.update-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5); /* dim background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1050;
}

.update-card {
  background: #fff;
  width: 400px;
  max-width: 90%;
  padding: 30px 20px;
}
